<aside class="w-full md:w-64 bg-white shadow-xl fixed md:sticky top-0 h-screen p-6 z-20 hidden md:block">
     
        <div class="p-6 text-2xl font-bold tracking-wide">SHIRTORA</div>
        <nav class="mt-10 space-y-2 text-gray-700">
            <p class="text-xs uppercase font-semibold text-gray-500 pt-2">Manage My Account</p>
            <a href="#" class="block py-2 px-3 rounded hover:bg-gray-100 font-medium">My Profile</a>
            <a href="/addressbook" class="block py-2 px-3 rounded hover:bg-gray-100 font-medium">Address Book</a>

            <p class="text-xs uppercase font-semibold text-gray-500 pt-5">My Purchases</p>
            <a href="#" class="block py-2 px-3 rounded hover:bg-gray-100 font-medium">My Orders</a>
            <a href="#" class="block py-2 px-3 rounded hover:bg-gray-100 font-medium">My Wishlist</a>
            
            <p class="text-xs uppercase font-semibold text-gray-500 pt-5">Account Tools</p>
            <a href="#" class="block py-2 px-3 rounded hover:bg-gray-100 font-medium">Wallet</a>
            <a href="#" class="block py-2 px-3 rounded hover:bg-gray-100 font-medium">Coupons</a>
        </nav>
    </aside>