@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f7f7;
}
.errorDisplay{
    border-radius: 5px;
    color: rgb(214, 0, 0);
}
